<%# Recursively render a directory tree %>
<% tree.each do |name, content| %>
  <% if content.is_a?(Hash) && content[:file_id].nil? %>
    <%# This is a directory %>
    <div class="dir-item" data-file-explorer-target="directory">
      <div class="dir-header" data-file-explorer-target="dirHeader">
        <span class="dir-toggle" data-file-explorer-target="toggle">+</span>
        <span class="dir-name"><%= name %></span>
      </div>
      <div class="dir-contents" data-file-explorer-target="dirContents">
        <%= render partial: 'directory_tree', locals: { 
          tree: content, 
          level: level + 1,
          parent_path: parent_path.present? ? "#{parent_path}/#{name}" : name
        } %>
      </div>
    </div>
  <% else %>
    <%# This is a file %>
    <% file_id = content[:file_id] %>
    <% viewed = @viewed_file_ids&.include?(file_id) %>
    <div class="file-item">
      <%= link_to name, "#", 
          class: viewed ? "viewed-file" : "",
          data: { 
            path: parent_path.present? ? "#{parent_path}/#{name}" : name,
            file_id: file_id,
            action: "click->inline-editor#showFile"
          } %>
    </div>
  <% end %>
<% end %> 