<div class="repositories-container container">
  <div class="repo-grid">
    <% @repositories.each do |repository| %>
      <%= render 'repository', repository: repository %>
    <% end %>
  </div>
</div>
